<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier (CSS, image, etc.) ou le dossier existe physiquement, on le charge normalement
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Pour tout le reste (les URL virtuelles), on redirige vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
